{:paths ["src"]
 :tasks
 {test {:doc "Run the test suite"
        :extra-paths ["test"]
        :requires ([clojure.test :as t] [oml.llm-test])
        :task (let [{:keys [fail error]} (t/run-tests 'oml.llm-test)]
                (System/exit (if (zero? (+ fail error)) 0 1)))}}}
